# Database
NEXT_PUBLIC_API_URL=http://localhost:3000/api
DATABASE_URL=

# Auth
AUTH_SECRET=

# PDF Viewer
REACT_APP_PDF_WORKER_SRC=/pdf.worker.min.js

# Feature Flags
NEXT_PUBLIC_ENABLE_2FA=true
NEXT_PUBLIC_ENABLE_PDF_VIEWER=true
